.quote__title {
  font-family: "Playfair Display";
  margin: 0;
  font-weight: 200;
  font-size: 40px;
  line-height: 34px;
  color: #f1f1df;
  grid-area: title;
}

@media screen and (min-width: 768px) {
  .quote__title {
    font-size: 52px;
    line-height: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .quote__title {
    max-width: 800px;
  }
}

@media screen and (min-width: 1600px) {
  .quote__title {
    font-size: 64px;
    line-height: 72px;
    max-width: 1128px;
  }
}
