.ticket__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
  display: flex;
  align-items: end;
}

@media screen and (min-width: 768px) {
  .ticket__list {
    margin-bottom: 49px;
  }
}

@media screen and (min-width: 1024px) {
  .ticket__list {
    margin-bottom: 42px;
  }
}

@media screen and (min-width: 1600px) {
  .ticket__list {
    margin-bottom: 36px;
  }
}
