.field__link {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  color: #e9d258;
  grid-area: link;
  justify-self: end;
  margin-right: 120px;
  margin-top: 28px;
}

@media screen and (max-width: 1024px) {
  .field__link {
    margin-right: 42px;
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .field__link {
    margin-right: 74px;
  }
}

@media screen and (max-width: 768px) {
  .field__link {
    margin-right: 6px;
    margin-top: 15px;
  }
}
