.ticket__adress {
  display: none;
}

@media screen and (min-width: 1600px) {
  .ticket__adress {
    box-sizing: border-box;
    display: block;
    margin: 0;
    margin-left: auto;
    padding-top: 13px;
    max-width: max-content;
    min-height: 51px;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    color: #2b3344;
    position: relative;
  }

  .ticket__adress::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    top: 0;
    left: 0;
    background-color: #2b3344;
  }
}
